@using BusinessTripAdmin.Infrastructure.Data.Identity
@using Microsoft.AspNetCore.Identity
@using System.Security.Claims
@inject SignInManager<ApplicationUser> SignInManager
@inject UserManager<ApplicationUser> UserManager

@if (SignInManager.IsSignedIn(User))
{
    var user = @UserManager.Users.First(x => x.Email == User.Identity.Name);
    var fullName = $"{user.FirstName} {user.LastName}";
    <div class="user-panel mt-3 pb-3 mb-3 d-flex">
        <div class="image">
            <img src="~/img/avatar5.png" class="img-circle elevation-2" alt="User Image">
        </div>
        <div class="info">
            <a href="#" class="d-block">@fullName</a>
        </div>
    </div>
}
