@using BusinessTripAdmin.Infrastructure.Data.Identity
@inject Microsoft.AspNetCore.Identity.UserManager<ApplicationUser> _userManager
@{
    string userId = _userManager.GetUserId(User);
}

<nav class="mt-2">
    <ul class="nav nav-pills nav-sidebar flex-column" data-widget="treeview" role="menu" data-accordion="false">
        <!-- Add icons to the links using the .nav-icon class
             with font-awesome or any other icon font library -->

        <li class="nav-item">
            <a href="/" class="nav-link">
                <i class="fas fa-suitcase-rolling"></i>
                <p>
                    Home
                </p>
            </a>
        </li>

        <li class="nav-item">
            <a asp-controller="BusinessTrip" asp-action="GetBusinessTrips" asp-route-userId="@userId" class="nav-link">
                <i class="fas fa-plane"></i>
                <p>
                    Business Trips
                </p>
            </a>
        </li>
        <li class="nav-item">
            <a asp-controller="Employee" asp-action="GetEmployees" class="nav-link">
                <i class="fas fa-users"></i>
                <p>
                    Employees
                </p>
            </a>
        </li>
         <li class="nav-item">
            <a asp-controller="Country" asp-action="GetCountries" class="nav-link">
                <i class="fas fa-globe"></i>
                <p>
                    Countries
                </p>
            </a>
        </li>
    </ul>
</nav>