@using BusinessTripAdmin.Core.ViewModels
@model BusinessTripViewModel
@{
    ViewData["Title"] = "Add New Business Trip";
    var countries = ViewBag.Countries;
    var employees = ViewBag.Employees;
}

<div class="form-group">
    <label>Example of a Simple Static Select</label>
    <select name="simpleSelect2" class="form-control" id="simpleSelect2">
        @foreach (var country in countries)
        {
            <option>@country</option>
        }
    </select>
</div>

<div class="form-group">
    <label>Example of AJAX Multi Select</label>
    <select name="ajaxMultiSelect2" class="form-control" id="ajaxMultiSelect2" multiple>
        @foreach (var employee in employees)
        {
            <option>@employee.FullName</option>
        }
    </select>
</div>

@section Scripts
{
<script src="~/lib/select2/js/select2.full.min.js"></script>
<script src="~/js/select2.js"></script>
}