@{
    ViewData["Title"] = "Admin Home Page";
}

<div class="text-center">
    <h1 class="display-4">Welcome to administration site</h1>
</div>
<br />
<br />
<br />
<br />
<div class="row">
    <div class="col-2">
        <a href="/Admin/User/ManageUsers" class="btn btn-block btn-light btn-sm">Manage Users</a>
    </div>

</div>
