@using BusinessTripAdmin.Core.ViewModels
@using BusinessTripAdmin.Infrastructure.Data.Enums
@model CreateEmployee
@{
    ViewData["Title"] = "Edit Employee";
}

<div class="row">
    <div class="col-4">
        <div class="card card-secondary">
            <div class="card-header">
            </div>

            <form id="create" method="post">
                <div class="card-body">
                    <div class="form-group">
                        <label asp-for="FirstName" class="form-label">First Name</label>
                        <input asp-for="FirstName" class="form-control" aria-required="true" placeholder="Enter First Name" />
                        <span asp-validation-for="FirstName" class="text-danger"></span>
                    </div>

                    <div class="form-group">
                        <label asp-for="MiddleName" class="form-label">Middle Name</label>
                        <input asp-for="MiddleName" class="form-control" aria-required="true" placeholder="Enter Middle Name" />
                        <span asp-validation-for="MiddleName" class="text-danger"></span>
                    </div>

                    <div class="form-group">
                        <label asp-for="LastName" class="form-label">Last Name</label>
                        <input asp-for="LastName" class="form-control" aria-required="true" placeholder="Enter Last Name" />
                        <span asp-validation-for="LastName" class="text-danger"></span>
                    </div>

                    <div class="form-group">
                        <label asp-for="BirthDate" class="form-label">Date of Birth</label>
                        <input asp-for="BirthDate" class="form-control" aria-required="true" placeholder="Enter Date of Birth" />
                        <span asp-validation-for="BirthDate" class="text-danger"></span>
                    </div>

                    <div class="form-group">
                        <label asp-for="PositionName" class="form-label">Position Name</label>
                        <input asp-for="PositionName" class="form-control" aria-required="true" placeholder="Enter Position Name" />
                        <span asp-validation-for="PositionName" class="text-danger"></span>
                    </div>

                    <div class="card-footer">
                        <button type="submit" asp-controller="Employee" asp-action="EditEmployee" class="btn btn-block btn-light btn-sm">Edit</button>
                    </div>
            </form>
        </div>
    </div>
</div>
@section Scripts{
<partial name="_ValidationScriptsPartial" />
}